<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <div class="shaded">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    <a href="{{ site.github.releases_url }}/download/3.1/presentation.zip" class="btn">Télécharger .zip</a>
    </section>
    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> est un projet de <a href="{{ site.github.owner_url }}">David Beauchemin</a>.</span>
        <span class="site-footer-credits">Cette page est produite par <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>

  </body>
</html>
